<div class="aboutMe">
    <div class="backgroundImage" style="background-image: url(assets/img/SeattleMap.PNG)"></div>
    <div class="container">
        <div class="animated fadeInDown">
            <p class="title">About me</p>
        </div>
        <hr>
        <div class="animated fadeInDown">
            <div class="bulletSection font">
                <ul>
                    <li>Live in Seattle WA.</li>
                    <li>Software Engineer at Mindtree, Inc</li>
                    <li>Master in Computer Engineering in Florida Tech</li>
                </ul>
            </div>
            <div class="divider"></div>
        </div>
        <div class="selfExplanationSeciton content font animated fadeInDown">
            I am focused on using the latest technologies with proven coding methodologies to create sophisticated and elegant software.</div>
        <div class=" font animated fadeInDown">
            <div class="divider"></div>
            <h2>Things to learn</h2>
            <div class="content">
                I love learning new things and it's my learning list:
                <ul>
                    <li>React.js</li>
                    <li>MEAN Stack</li>
                </ul>
            </div>
        </div>
        <div class="font animated fadeInDown">
            <div class="divider"></div>
            <h2>Family</h2>
            <div class="content">
                <div class="row" data-toggle="collapse" data-target="#collapseUs" aria-expanded="false" aria-controls="collapseUs">
                    <!--jasmine-->
                    <img class="col-lg-7 col-md-7 col-sm-7 aboutme" src="assets/img/aboutme/jasmine-aboutme.jpg">
                    <!--ME-->
                    <img class="col-lg-5 col-md-5 col-sm-5 aboutme" src="assets/img/aboutme/me-aboutme.jpg">
                </div>
                <div class="row">
                    <div class="collapse" id="collapseUs">
                        <div class="card card-block">
                            Jasmine and me have need in the marriage since 2016 and lived in Seattle WA.
                            <BR /> Married at Savannah GA where is a wonderful place.
                        </div>
                    </div>
                </div>
                <div class="row" data-toggle="collapse" data-target="#collapseBaby" aria-expanded="false" aria-controls="collapseBaby">
                    <!--Mia-->
                    <img class="col-lg-4 col-md-4 col-sm-4 aboutme" src="assets/img/aboutme/mia.jpg">
                    <!--Altus-->
                    <img class="col-lg-4 col-md-4 col-sm-4 aboutme" src="assets/img/aboutme/baby.jpg">
                    <!--baby-->
                    <img class="col-lg-4 col-md-4 col-sm-4 aboutme" src="assets/img/aboutme/altus.jpg">
                </div>
                <div class="row">
                    <div class="collapse" id="collapseBaby">
                        <div class="card card-block">
                            Our family numbers!! Altus is a cat poop master! and Mia is a loud crazy lady!.<br /> And our monkey: Chrysan LEE, our the custest baby ever!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="font animated fadeInDown">
            <div class="divider"></div>
            <h2>Travel</h2>
            <!--google map-->
            <div id="googleMap"></div>
            <br>
        </div>
    </div>
</div>