<div class="aboutMe">
  <div class="backgroundImage" style="background-image: url(https://stu4355226.github.io/CHIACHELEE/assets/img/SeattleMap.PNG)"></div>
  <div class="container">
    <div class="animated fadeIn">
      <p class="title">About me</p>
    </div>
    <hr>
    <div class="animated fadeIn">
      <div class="bulletSection font">
        <ul>
          <li>Live in Seattle WA.</li>
          <li>Software Engineer at Mindtree, Inc</li>
          <li>Master in Computer Engineering in Florida Tech</li>
        </ul>
      </div>
    </div>
    <div class="selfExplanationSeciton font animated fadeIn">
      I am focused on using the latest technologies with proven coding methodologies to create sophisticated and elegant software.</div>
    <div class=" font animated fadeIn">
      <p>Things to learn:</p>
      <div class="divider"></div>

      I love learning new things and it's my learning list: add some thing there....
    </div>
    <div class="font animated fadeIn">
      <div class="divider"></div>

      <p>Family:</p>
      Mia: Altus: Jasmine: Chryus: add photo?
    </div>
    <div class="font animated fadeIn">
      <div class="divider"></div>

      <p>Travel:</p>
      Calling Google Map API Here
    </div>
    <div class="font animated fadeIn">
      <div class="divider"></div>

      <p>Gamger!</p>
    </div>
  </div>
</div>
