<body>
    <div class="container resume">
        <div class="row">
            <img class="col-4 aboutmePicture animated fadeInLeft" src="assets/img/aboutme/me-aboutme.jpg">
            <div class="col align-self-center animated fadeInDown">
                <p><b class="titleName">CHIA-CHE LEE</b></p>
                <p>CE professional with 2 years experience of Web full-stack development.</p>
                <div class="titleText">
                    <ol class="rectangle-list">
                        <li>Web strong skills with ASP.NET MVC/Core, MSSQL/MongoDB, and Angular 2.</li>
                        <li>Hand on in ASP.NET MVC/Core application development in N–tier architecture using C# as the code-behind language, WCF/ Web API as the SOAP/Restful Server provider and Entity Framework/ADO.NET as the SQL data consumer.</li>
                        <li>Well-verse in responsive user interface using CSS3, Ajax, JavaScript, HTML5, JQuery and Boostrap.</li>
                        <li>Worked on latest .NET Framework 4.0 features like parallelism (Tasks), LINQ, PLINQ, Dependency Injection (DI) and Unity Container.d).</li>
                        <li>Use Agile methodology and SCURM framework for application development and code review to ensure adherence and compliance to all process and quality parameters.</li>
                        <li>Able to adapt many programming languages (Experiences: C#、C++、Python、JS、TypeScript) </li>
                    </ol>
                </div>
            </div>
        </div>
        <hr>
        <div class="row animated fadeInUp">
            <div class="col-12">
                <p class="font-2 font-weight-bold">Education</p>
            </div>
            <div class="col-12">
                <p>Florida Institute of Technology, Melbourne FL</p>
                <p>Master of Science (M.S), Computer Engineering, GPA 3.17 / 4.0</p>
                <p>Minghsin University of Science and Technology</p>
                <p>Undergraduate, Optoelectronic Systems Engineering</p>
            </div>
        </div>
        <hr>
        <div class="row hidden animated" [appScrollPoint]="400">
            <div class="col-12">
                <p class="font-2 font-weight-bold">Skills</p>
            </div>
            <div class="col-6">
                <div class="divider"></div>
                <p class="font-1 font-weight-bold">Web Front-End</p>
                <p>JavaScript/TypeScript</p>
                <ul>
                    <li>Familiar with JQuery、Ajax</li>
                    <li>Familiar with Anguar 2 framework</li>
                    <li>Learning AngularJS、Vue.js</li>
                </ul>
                <p>CSS / RWD</p>
                <ul>
                    <li>Essential CSS Layout</li>
                    <li>Familiar with Bootstrap、Semantic UI、Kendo UI</li>
                </ul>
            </div>
            <div class="col-6">
                <div class="divider"></div>
                <p class="font-1 font-weight-bold">Web Back-End</p>
                <p>Database</p>
                <ul>
                    <li>Essential SQL and MangoDB (CRUD、Join..etc)</li>
                </ul>
                <p>Programming Language / Platform / Server</p>
                <ul>
                    <li>Essential ASP.NET (Web form / MVC / Core)</li>
                    <li>Essential C#</li>
                    <li>Build RESTful API</li>
                    <li>Essential Linux operations (CentOS、Ubuntu)</li>
                    <li>Essential IIS、Node.js、Apache Tomcat、JBoss</li>
                </ul>
                <p>Database Access/Process Techniques</p>
                <ul>
                    <li>.NET LINQ (Query Syntax、Method Syntax)</li>
                    <li>.NET Entity Framework 6、Dapper</li>
                    <li>.NET ADO.NET Framwork(SqlClient, MongoDB API)</li>
                </ul>
            </div>
        </div>
        <div class="row hidden animated" [appScrollPoint]="650">
            <div class="col-6">
                <div class="divider"></div>
                <p class="font-1 font-weight-bold">Version Control</p>
                <ul>
                    <li>Essential TFS</li>
                    <li>Familiar with GIT</li>
                    <ul>
                        <li>Push to Bitbucket Server</li>
                    </ul>
                </ul>
            </div>
            <div class="col-6">
                <div class="divider"></div>
                <p class="font-1"><b>Embedded System</b></p>
                <ul>
                    <li>Familiar with FPGA using VHDL.</li>
                    <li>Familiar with RTOS kernal (FreeRTOS).</li>
                    <li>Familiar with Embedded C programing.</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row hidden animated" [appScrollPoint]="1000">
            <div class="col-12">
                <p class="font-2 font-weight-bold">Experience</p>
                <!-- Timeline -->
                <div class="timeline">
                    <!-- Line component -->
                    <div class="line text-muted"></div>
                    <div class="separator text-muted">
                        <time>Jan. 2017 - Present</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p><strong class="font-1">Mindtree</strong> - Software Engineer</p>
                            <ul>
                                <li>Implemented and maintained Microsoft internal tools using .NET framework 4.5 and Angular4.</li>
                                <li>Designed, developed, verified, and deployed a Performance Matrix Tool using C# and Azure Function to test service APIs in the U.S, Europe, South Asia and Singapore regions to measure performance in each layer.</li>
                                <li>Developed User Self-service function in Microsoft internal tools using Bootstrap, JQuery and Anguar4.</li>
                                <li>Wrote User Manual application using Bootstrap, JQuery and Angular4.</li>
                                <li>Utilized Sonar Tool and developed Unit Test increasing coverage up to 70% to insure code quality.</li>
                                <li>Performed Code Refactoring for .NET server applications improving performance by 20%.</li>
                            </ul>
                        </div>
                    </article>
                    <!-- /Panel -->
                    <div class="separator text-muted">
                        <time>Dec. 2016</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-info panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p><strong class="font-1">The AD Leaf</strong> - Software Engineer Internship</p>
                            <ul>
                                <li>Compiled and presented SEO(search engine optimization) performance reports.</li>
                                <li>Consulted with independent web designers to improve the navigation of a site to enhance its search engine ranking.</li>
                                <li>Utilized basic programming and web design skills to enhance SEO.</li>
                                <li>Created advanced SEO strategies.</li>
                                <li>Evaluated product offering, traffic, landing page quality, content, design.</li>
                                <li>Utilized analytics tools such as MOZ, SEMRUSH, Lucky Orange.</li>
                                <li>Navigated through and organized CRM systems and project management systems.</li>
                            </ul>
                        </div>
                    </article>
                    <!-- /Panel -->
                </div>
                <!-- /Timeline -->
            </div>
        </div>
        <hr>
        <div class="row hidden animated" [appScrollPoint]="2000">
            <div class="col-12">
                <p class="font-2 font-weight-bold">School Porjects</p>
                <!-- Timeline -->
                <div class="timeline">
                    <!-- Line component -->
                    <div class="line text-muted"></div>
                    <div class="separator text-muted">
                        <time>Jan. 2016 - Sep. 2016</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p><strong class="font-1">256-bits AES Encryption using ARM TrustZone Technology</strong> - Thesis Project</p>
                            <ul>
                                <li>Implemented an AES (256 bit) encryption application based on hardware access-control security.</li>
                                <li>Illustrated an Asymmetric Multi Processing Configuration (GPOS/RTOS) with a Virtual Secure Monitor design</li>
                            </ul>
                        </div>
                    </article>
                    <div class="separator text-muted">
                        <time>April 2015 - December 2015</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="https://github.com/stu4355226/FPGA_based_Median_Filter_Engine" data-toggle="tooltip" data-placement="bottom" title="Click me for more info!"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                                <strong class="font-1">FPGA based Median Filter Engine (DSP)</strong> - using VHDL
                            </p>
                            <ul>
                                <li>The median filter is an effective device for the removal of impulse-based noise on video signals. This is due to the partial averaging effect of the median filter and its biasing of the input stream, rather than straight
                                    mathematical averaging. This project aims DSP applications as a goal and implements in VHDL and uses Pingpong and Pipeline techniques on data processing.</li>
                            </ul>
                        </div>
                    </article>
                    <div class="separator text-muted">
                        <time>November 2015</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="https://github.com/stu4355226/Speech_Enhancement" data-toggle="tooltip" data-placement="bottom" title="Click me for more info!"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                                <strong class="font-1">Speech Enhancement</strong> - using Matlab
                            </p>
                            <ul>
                                <li>Applied FIR, IIR, Wiener and Wavelet filters to process speech signal using Matlab.</li>
                                <li>This project is about using FIR, IIR, Wiener ans Wavelet filters to process speech signal in Matlab. Then compare the results of each filters.</li>
                            </ul>
                        </div>
                    </article>
                    <div class="separator text-muted">
                        <time>April 2015 - May 2015</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="https://github.com/stu4355226/FSM_based_UART_Protocol" data-toggle="tooltip" data-placement="bottom" title="Click me for more info!"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                                <strong class="font-1">FSM based UART Protocol</strong> - using VHDL
                            </p>
                            <ul>
                                <li>FSM based UART Protocol using VHDL on Xilinx Zynq - 7000 SoC (Zedboard). In general cases, UART will use two FIFO buffers to store and send the queuing data, I'm using only a FIFO as a buffer sending data between TX(Sender)
                                    and Rx(Receiver) and a FSM to control the FIFO whenever to send or store the queuing data.</li>
                            </ul>
                        </div>
                    </article>
                    <div class="separator text-muted">
                        <time>October 2014 – December 2014</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="https://github.com/stu4355226/3-D_FFT_CUDA" data-toggle="tooltip" data-placement="bottom" title="Click me for more info!"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                                <strong class="font-1">Multithreading Analysis for 3-D Fast Fourier Transform</strong> - using C / CUDA
                            </p>
                            <ul>
                                <li>Implemented 3D Fast Fourier Transform and 3D inverse Fast Fourier Transform algorithm in C and CUDA, compared the execution time to analysis pros & cons of using parallel programming. </li>
                            </ul>
                        </div>
                    </article>
                    <div class="separator text-muted">
                        <time>September 2014</time>
                    </div>
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">
                        <div class="panel-heading icon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="https://github.com/stu4355226/Sliding_Window_Protocol" data-toggle="tooltip" data-placement="bottom" title="Click me for more info!"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                                <strong class="font-1">Sliding Window Protocol</strong> - using Python
                            </p>
                            <ul>
                                <li>Sliding Window Protocol Written in Python.</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>