<div class="homeContainer">
  <div mnFullpage [mnFullpageKeyboardScrolling]="true" [mnFullpageControlArrows]="false" [mnFullpageNavigation]="false">
    <div class="section firstPage fp-section fp-table">
      <div class="fp-tableCell">
        <div class="HomeContainer animated fadeIn">
          <h1>CHIACHELEE - ASP.NET Developer</h1>
          <p class="lead">Redmond, WA</p>
        </div>
      </div>
    </div>
    <div class="section secondPage fp-section fp-table">
      <div class="fp-tableCell">
        <div class="font HomeContainer secondPage">
          Software Engineer in Mindtree Ltd
        </div>
      </div>
    </div>
    <div class="section thirdPage fp-section fp-table">
      <div class="fp-tableCell">
        <div class="font HomeContainer thirdPage">
          to be continued...
        </div>
      </div>
    </div>
  </div>
</div>